<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
         executionOrder="random"
         resolveDependencies="true">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Performance Tests">
            <directory>tests/Performance</directory>
        </testsuite>
        <testsuite name="Concurrency Tests">
            <directory>tests/Concurrency</directory>
        </testsuite>
        <testsuite name="Reliability Tests">
            <directory>tests/Reliability</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Examples</directory>
        </exclude>
    </source>
    
    <coverage>
        <report>
            <html outputDirectory="coverage-html"/>
            <text outputFile="coverage.txt"/>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>
    
    <logging>
        <junit outputFile="junit.xml"/>
    </logging>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="GRPC_TEST_MODE" value="true"/>
    </php>
</phpunit>